body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0; /* Cambié de 16cm a 1em para evitar un espacio muy grande */
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: darkred;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
