body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 80vh; /* Para asegurar que el contenido ocupe un espacio amplio */
}

footer {
    background-color: darkred;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

